body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#loginBox {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 300px; /* Add this line to prevent overflow */
}

#loginBox input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line to include padding and border in the element's total width and height */
}

#loginBox button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginBox button:hover {
    background-color: #45a049;
}

#loginBox img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}